{% extends 'main/layout.html' %}
{% load static %}

{% block title %}DeepLearner's Diary{% endblock %}

{% block content %}
<table class="grid">
	<tr>
		<td>
			<div class="item"><img src="{% static 'main/img/ava1.jpg' %}"></div>
		</td>
		<td>
			<div class="item">
                <h1>Hello! I'm glad to meet you.</h1>
                <p>...</p>
            <p>My name is Polina. I'm a Python developer.</p>
            <p>I am enthusiastic about learning this programming language and the entire world of web development. On this site, I would like to share my experience and inspiration to show what drives me, my way of thinking and motivation.</p>
            <p>I am constantly improving my skills, exploring new interesting topics and discovering unconventional tricks, so notes about my experience you can find on my blog.</p>
            <p>In addition, I have created a page with ideas and inspiration, on which I used my knowledge of visual design and applied it in practice. I really like how it turned out. I hope you will enjoy my work and give me feedback on what I need to improve.</p>
            <p>I would also like to point out that there is a section with my CV. I would be grateful if you could share its link, it helps me in my professional career.</p>
            <p>Thank you for your interest in my website! Hope we're on the same wavelength now! If you have any questions or comments, please do not hesitate to contact me through the contact form on the website.</p>
            </div>
		</td>
    </tr>
</table>
{% endblock %}
