{% extends 'main/layout.html' %}
{% load static %}

{% block title %}DeepLearner's Diary{% endblock %}

{% block content %}
<table class="grid">
	<tr>
		<td>
			<div class="item"><img src="{% static 'main/img/ava1.jpg' %}"></div>
		</td>
		<td>
			<div class="item">
                <h1>Hello! I'm glad to meet you.</h1>
                <p>...</p>
            <p>My name is Polina.</p>
            <p>I'm learning Python and exploring the whole world of web development. On this site, I have collected my experience and inspiration to show what drives me, my way of thinking and motivation.</p>
            <p>I am constantly improving my skills, going through new interesting topics and finding out-of-the-ordinary tricks, so notes about my experience you can find on my blog.</p>
            <p>On the inspiration page, I tried to work with images, put my knowledge into practice, and I liked how it turned out, so I left this page. I suggest you admire and give me feedback on the appearance and tips for improvement.</p>
            <p>Also I posted my resume on the site. I will be very grateful to reposts, they help me a lot if I am looking for a job.</p>
            <p>Thank you very much for visiting my site! Hope we're on the same wavelength now!</p>
            </div>
		</td>
    </tr>
</table>
{% endblock %}

