{% extends 'main/layout.html' %}
{% load static %}

{% block title %}Inspiration{% endblock %}

{% block content %}
<div class="row">
  <div class="column">
    <img src="{% static 'main/img/gor3.jpg' %}">
    <img src="{% static 'main/img/ver5.jpg' %}">
    <img src="{% static 'main/img/gor8.jpg' %}">
    <img src="{% static 'main/img/ver4.jpg' %}">
    <img src="{% static 'main/img/ver7.jpg' %}">
  </div>
  <div class="column">
    <img src="{% static 'main/img/ver10.jpg' %}">
    <img src="{% static 'main/img/gor11.jpg' %}">
    <img src="{% static 'main/img/ver8.jpg' %}">
    <img src="{% static 'main/img/gor7.jpg' %}">
    <img src="{% static 'main/img/gor1.jpg' %}">
    <img src="{% static 'main/img/kv3.jpg' %}">
    <img src="{% static 'main/img/gor10.jpg' %}">
  </div>
  <div class="column">
    <img src="{% static 'main/img/gor4.jpg' %}">
    <img src="{% static 'main/img/ver6.jpg' %}">
    <img src="{% static 'main/img/gor9.jpg' %}">
    <img src="{% static 'main/img/ver2.jpg' %}">
    <img src="{% static 'main/img/gor5.jpg' %}">
    <img src="{% static 'main/img/kv2.jpg' %}">
  </div>
  <div class="column">
    <img src="{% static 'main/img/gor13.jpg' %}">
    <img src="{% static 'main/img/kv1.jpg' %}">
    <img src="{% static 'main/img/ver9.jpg' %}">
    <img src="{% static 'main/img/gor2.jpg' %}">
    <img src="{% static 'main/img/kv4.jpg' %}">
    <img src="{% static 'main/img/gor6.jpg' %}">
    <img src="{% static 'main/img/gor12.jpg' %}">
  </div>
</div>
{% endblock %}